Check

In [8]:
a = 5
b = 2

In [ ]:
a,b = b,a

In [7]:
a ,b

(2, 5)

In [9]:
temp = a
a = b
b= temp

In [10]:
a,b

(2, 5)

**Function to SWAP the values of two variables**

In [13]:
def swap_val(a,b):
    print("Old Value a= ",a)
    print("Old Value b= ",b)
    a,b = b,a
    print("New Value a= ",a)
    print("New Value b= ",b)

In [14]:
swap_val(4,3)

Old Value a=  4
Old Value b=  3
New Value a=  3
New Value b=  4

In [15]:
def swap_temp(a,b):
    print("Old Value a= ",a)
    print("Old Value b= ",b)
    temp = a
    a = b
    b = temp
    print("New Value a= ",a)
    print("New Value b= ",b)

In [16]:
swap_temp(6,8)

Old Value a=  6
Old Value b=  8
New Value a=  8
New Value b=  6