<a href="https://colab.research.google.com/github/Yuvanthica/WOMEN-WHO-CODE-CHALLENGE/blob/main/WWC_DAY38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to flatten a nested list

In [7]:
my_list = [[1], [2, 3], [4, 5, 6, 7],["kiwi", "lemon", "mango"]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 'kiwi', 'lemon', 'mango']

In [8]:
def flat_list(lst):
    flat_list = [num for sublist in lst for num in sublist]
    print(flat_list)

In [9]:
flat_list(my_list)

[1, 2, 3, 4, 5, 6, 7, 'kiwi', 'lemon', 'mango']