<a href="https://colab.research.google.com/github/Yuvanthica/WOMEN-WHO-CODE-CHALLENGE/blob/main/WWC_DAY10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to remove duplicates from a list.

In [3]:
from collections import Counter

In [4]:
lst = [2,4,6,8,6,4,2,10,13]

In [5]:
uni = Counter(lst)
print(list(uni.keys()))

[2, 4, 6, 8, 10, 13]

In [6]:
def dup(lst):
  numl =[]
  for num in lst:
    if num not in numl:
      numl.append(num)
  return numl

In [7]:
dup(lst)

[2, 4, 6, 8, 10, 13]