<a href="https://colab.research.google.com/github/Yuvanthica/WOMEN-WHO-CODE-CHALLENGE/blob/main/WWC_DAY26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a program that uses a lambda function to square each element of a list.

In [21]:
lst=[1,2,4,5,6,7,9,10,56]

In [16]:
new = list(map(lambda i: i**2,lst))

In [17]:
print(new)

[1, 4, 16, 25, 36, 49]

In [22]:
def sqrlst(lst):
  new_list = list(map(lambda i: i**2,lst))
  print(new_list)

In [23]:
sqrlst(lst)

[1, 4, 16, 25, 36, 49, 81, 100, 3136]